@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');




/* inactive dots color */
.swiper-pagination-bullet{
  background-color:rgb(255, 255, 0, 0.5) !important; 
           /* transparency */
}

/* active dot color */
.swiper-pagination-bullet-active{
  background-color: #facc15  !important; 
 
}
